h1 {
    font-size:3em;
}

.titledesc{
    font-size:1.4em;
    color: #999;
}

.title{
    font-size:2.5em;
}
/*
p {
    margin: 5px 0px 0px 0px;
}

.border{
    border-width:1px;
    border-style: solid;
    border-color: #000;
}
*/
.overlay{
    position: absolute;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    display: none;
    opacity:0.9;
    cursor: pointer;
    margin: 20px 15px 0px 15px;
    padding-top:10px;
}

.grid-title {
    text-align:center;
    color:#fff;
    padding-top:20px;
}

.overlaydesc {
    color:#fff;
    font-size:1.25em;
    padding-left:15px;
    padding-right:15px;
}

.grid-item {
    padding: 0 15px 0px 15px;
    margin-bottom:30px;
    min-height:150px;
}

.inner {
    height:100%;
    background-color:#D33F49;
}

.button-group {
    padding: 0 30px 20px 30px;
}

button {
    border-width: 1px;
    border-style:solid;
    border-color:#D33F49;
    border-radius: 10px;
    font-size:1.4em;
    background-color:#fff;
    padding: 10px;
    margin-right:10px;
    color:#D33F49;
    outline:0;
}

.highlight {
    background-color:#FFEBEE;
}

h1 {
    font-family: 'Arial';
}

.links {
    font-size:1.4em;
}

.button-group {
    margin-top:20px;
}

.header {
    margin-left:15px;
    margin-right:15px;
}

a:link {
    color:#D33F49;
    text-decoration: none;
}
a:visited {
    color:#D33F49;
    text-decoration: none;
}
a:hover {
    color:#D33F49;
    text-decoration: none;
}
a:active {
    color:#D33F49;
    text-decoration: none;
}
