/*----------------------------------------------*/
/* Actionable Bits */
/*----------------------------------------------*/
button {
  border-width: 1px;
  border-style: solid;
  border-color: #D33F49;
  border-radius: 10px;
  font-size: 1.2em;
  background-color: #fff;
  padding: 10px;
  margin-right: 10px;
  color: #D33F49;
  outline: 0;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}

.highlight {
  background-color: #FFEBEE;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 30px 0px 30px;
  max-width: 1500px;
  border-radius: 20px;
  .columns {
    padding: 0;
  }
}

@media screen and (max-width: 1024px) {
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 64em){
  .large-push-4 {
    left: -33.333%;
  }
}

/*----------------------------------------------*/
/* Footer Analytics */
/*----------------------------------------------*/
.footer-container{
	padding: 30px 0px 0px 0px;
	// background-color: $lightgrey;
	width: 100%;
	.sectionheader{
		padding-bottom: 0px;
    padding-top: 0px;
	}
}

.footer-mm{
	margin: 0px 0px 10px 0px;
	// height: 25px;
	width: 100%;
	// line-height: 50px;
	// color: $lightgrey;
}

/*----------------------------------------------*/
/* landing grid */
/*----------------------------------------------*/

.grid-item {
    margin: 5px auto;
    min-height: 175px;
    border-radius: 5px;
}

.inner {
    min-height: 175px;
    min-width: 175px;
    background-color: #D33F49;
    margin: 10px auto;
    border-radius: 5px;
}

.grid-title {
    text-align: center;
    vertical-align: center;
    color:#fff;
    line-height: 1.25em;
    font-size: 1.25em;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.overlay{
    border-radius: 5px;
    position: absolute;
    height: 75%;
    overflow: hidden;
    top: 0;
    left: 0;
    display: none;
    opacity: 0.9;
    cursor: pointer;
    margin: 25px 15px 0 15px;
}

.overlaydesc {
    color:#fff;
    font-size: 1em;
    padding-left: 15px;
    padding-right: 15px;
}