/*----------------------------------------------*/
/* Actionable Bits */
/*----------------------------------------------*/
button {
  border-width: 1px;
  border-style: solid;
  border-color: #D33F49;
  border-radius: 10px;
  font-size: 1.2em;
  background-color: #fff;
  padding: 10px;
  margin-right: 10px;
  color: #D33F49;
  outline: 0;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}

.highlight {
  background-color: #FFEBEE;
}

.container{
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  max-width: 1500px;
  border-radius: 20px;
  
  .textbox{
    padding-top: 10px;
    padding-bottom: 20px;
  }
  
  .columns {
    padding: 0;
  }
  
  @media screen and (max-width: 1024px) {
    margin-bottom: 80px;
  }
}

.contribute-base {
  @media screen and (max-width: 1024px) {
    width: 80%;
    text-align: center;
    margin: auto;
  }
}

.image-action {
  @media screen and (max-width: 340px) {
    width: 200px;
  }
}

.contribute-container {
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  padding: 0px 0px 20px 0px;
}

.actions-img{
  text-align: center;
}

.contribute-image{
  p {
    margin-top:10px;
  }

@media screen and (max-width: 1024px) {
    width: 100%;
    text-align: center;
}
}

.right-box{
  text-align: right;
}

@media screen and (min-width: 64em){
  .large-push-4 {
    left: -33.333%;
  }
}

/*----------------------------------------------*/
/* Footer Analytics */
/*----------------------------------------------*/
.footer-container{
	padding: 30px 0px 0px 0px;
	// background-color: $lightgrey;
	width: 100%;
	.sectionheader{
		padding-bottom: 36px;
    padding-top: 20px;
	}
}

.footer-mm{
	margin: 10px 0px 10px 0px;
	// height: 25px;
	width: 100%;
	// line-height: 50px;
	// color: $lightgrey;
}

/*----------------------------------------------*/
/* landing grid */
/*----------------------------------------------*/

.overlay{
    // position: absolute;
    height: 50%;
    overflow: hidden;
    top: 0;
    left: 0;
    display: none;
    opacity:0.9;
    cursor: pointer;
    margin: 20px 15px 0px 15px;
    padding-top:10px;
}

.grid-title {
    text-align:center;
    color:#fff;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.overlaydesc {
    color:#fff;
    font-size:0.8em;
    padding-left: 15px;
    padding-right: 15px;
}

.grid-item {
    padding: 0 15px 0px 15px;
    margin-top: 20px;
    
    
    margin-bottom: 60px;
    min-height: 225px;
}

.inner {
    height: 225px;
    width: 225px;
    background-color: #D33F49;
}
