.logo {
  max-height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu-text {
  padding: 0;
  font-weight: bold;
  font-size: 12px;
}

.top-bar {
  padding: 0;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 14px;
}

.menu {
  margin-top: 15px;
}

.menu .external a {
  color: $ifrcFedNetBlue;
}

.bigstats {
  font-weight: 200;
}

footer {
  background-size: cover;
  background-position: bottom;
  border: none;
  background-color: $darkest-gray;
  min-height: 50px;
}

h1 {
  font-weight: 200;
  font-size: 1.5em;
  color: $TextColor;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-weight: 200;
  font-size: 1.3em;
  color:  $TextColor;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font-weight: 200;
  font-size: 1.2em;
  color: $TextColor;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 {
  font-weight: 200;
  position: relative;
  margin: auto 0;
  padding: 0.5%;
}

h5 {
  color: $white;
  font-weight: normal;
  text-align: center;
  position: relative;
  font-size: 12 px;
}

h6  {
  font-size:10px;
  color: $white;
  position: relative;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

p {
  font-size:14px;
  position: relative;
  margin-bottom: 10px;
  color: $TextColor;
}

.thumbnail {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 1.1rem;
}

.alerts {
  background-color: $ifrcCorporateRed;
  margin: 15px auto 15px auto;
  color: $white;
}

.callout {
  margin: 0;
}

.details:link, .details:hover, .details:visited, .details:active {
  text-decoration: none;
  color: $black;
}

.details-row {
  background-color: lighten($light-gray, 40);
  border-radius: 5px;
}

.network-detail {
  border-style: solid;
  border-width: 20px;
  border-color: $white;
}

.network-data {
  border-style: solid;
  border-width: 0.1px;
  border-color: lighten($light-gray, 15);
  box-shadow: 0 0 5px $dark-gray;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  box-sizing: auto;
  border-radius: 20px;
}

.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}

.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: $ifrcCorporateRed;
  height: 2px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.breadcrumbs a {
  color: $ifrcCorporateRed;
}

.center-text{
  text-align: center;
}

.keyfiguretitle {
  font-size:1.2em;
}

.keyfigure {
  font-size:1.6em;
  font-weight: 200;
}

.top-bar, .top-bar ul {
  background-color: $white;
}

@media only screen and (min-width: 40.063em) { /* medium, large */
  .iconmap {
    border: none;
  }
}

.menu.expanded {
  table-layout: initial;
}

.download_link {
  font-size: 2em;
}

.no-border {
  border: none;
}

.breadcrumbs {
  padding-left:15px;
}
