.dc-table-label{
    color:#fff;
}

.dc-chart g.row text {
    fill: black;
    font-size:0.8em;
}

.hdx-3w-info{
    padding:5px;
    background-color:white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size:1.5em;
    color:#D32F2F;
 }

.headline {
    color:#777;
    font-size:16px;
    padding-top:20px;
    padding-bottom:20px;
}

.borders {
    border-top-style:solid;
    border-top-color:#ccc;
    border-top-width:1px;
    border-bottom-style:solid;
    border-bottom-color:#ccc;
    border-bottom-width:1px;
}

.viz_chart {
    width:100%;
}

#time_chart .stack path {
    stroke:#D32F2F;
}

.btn-sm {
    background-color:#D32F2F;
    border-width:0px;
    margin-bottom:10px;
}

.d3-tip {
    padding: 5px;
    background-color: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size: 1.5em;
}

.filterlink {
    color:#D32F2F;
    padding-right:10px;
    cursor:pointer;
}

.legend {
    padding:5px;
    background-color:white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    line-height: 18px;
    color: #555555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
}

#wherechart {
    height:650px;
}
