#map {
    height:360px;
}

.btn-sm {
    background-color:#D32F2F;
    border-width:0px;
    margin-bottom:10px;
}

.keyfigure {
    font-size:32px;
    margin-bottom:20px;
}

.catkeyfiguretitle {
    font-size: 1.4em;
}

.categorycard {
    padding-top:10px;
    padding-bottom:10px;
}

.doc {
    margin-bottom:20px;
}

h3 {
    padding-bottom:10px;
    border-bottom: 1px solid #aaa;
}

h5 {
    color:black;
    font-weight: 200;
}

.minheight {
	min-height:38px;
}

.texttab{
    display:inline-block;
    padding:10px;
    background-color:#fff;
    cursor:pointer;
}

.active{
    background-color:#eeeeee;
}

.info {
    padding:20px 40px 20px 40px;
}

.margin-top {
    margin-top:20px;
}