#map {
    height:360px;
}

.btn-sm {
    background-color:#D32F2F;
    border-width:0px;
    margin-bottom:10px;
}

.keyfigure {
    font-size:32px;
    margin-bottom:20px;
}

.doc {
    margin-bottom:20px;
}

h3 {
    padding-bottom:10px;
    border-bottom: 1px solid #aaa;
}

.minheight {
	min-height:38px;
}

.texttab{
    display:inline-block;
    padding:10px;
    background-color:#eeeeee;
    cursor:pointer;
}

.active{
    background-color:#fff;
}

.info {
    padding:20px 40px 20px 40px;
}
