.dc-table-label{
    color:#fff;
}

.dc-chart g.row text {
    fill: black;
    font-size:0.8em;
}

#map {
    height:400px;
}

.hdx-3w-info{
    padding:5px;
    background-color:white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size:1.5em;
    color:#C02C2D;
 }

.headline {
    color:#777;
    font-size:16px;
    padding-top:20px;
    padding-bottom:20px;
}

.borders {
    border-top-style:solid;
    border-top-color:#ccc;
    border-top-width:1px;
    border-bottom-style:solid;
    border-bottom-color:#ccc;
    border-bottom-width:1px;
}

.viz_chart {
    width:100%;
}

#time_chart .stack path {
    stroke:#C02C2D;
}

.btn-sm {
    background-color:#C02C2D;
    border-width:0px;
    margin-bottom:10px;
}

.d3-tip {
    padding: 5px;
    background-color: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size: 1.5em;
}

.filterlink {
    color:#C02C2D;
    padding-right:10px;
    cursor:pointer;
}

.legend {
    padding:5px;
    background-color:white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    line-height: 18px;
    color: #555555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
}

td.details-controls {
    background: url('https://datatables.net/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-controls {
    background: url('https://datatables.net/examples/resources/details_close.png') no-repeat center center;
}

.regionbuttons {
  margin-left:5px;
}

.titledesc {
    font-size: 1.4em;
    color: #999;
}

.download_link {
  font-size: 2em;
}

td {
    vertical-align:top;
    font-size:0.85em;
}

.minheight {
    min-height:50px;
}