.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: #C02C2D;
    stroke-width: 3px;
}

.node text {
    font-size: 11px;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}
