
#map {
    height:400px;
}

#mapappeals {
    height:400px;
}

.headline {
    color:#777;
    font-size:16px;
    padding-top:20px;
    padding-bottom:20px;
}

.borders {
    border-top-style:solid;
    border-top-color:#ccc;
    border-top-width:1px;
    border-bottom-style:solid;
    border-bottom-color:#ccc;
    border-bottom-width:1px;    
}

#type {
    height:640px;
}

#region {
    height:400px;
}

#months {
    height:200px;
}

.country {
    fill:#DCDDDE;
    stroke:#fff;
    stroke-width:0.5;
}

.selected {
    fill: #D33F49;
}

#typeappeals {
    height:640px;
}

#regionappeals {
    height:400px;
}

#monthsappeals {
    height:200px;
}

.keyfigure {
    color:#D33F49
}