---
layout: build/default
permalink: /3w/
id: 3w
title: 3W
lang: en
custom_css: 3w
custom_js: 3w
---

{% if page.custom_css %}
  {% for stylesheet in page.custom_css %}
  <link rel="stylesheet" href="{{site.baseurl}}/assets/custom/{{ stylesheet }}.css" media="screen" type="text/css">
  {% endfor %}
{% endif %}

<div class="row">
  <div class="medium-12"><a href="{{site.baseurl}}">{{site.data[locale].landing.home}}</a> > <b class="title3w">3W</b></div>
</div>
<div class="row">
  <div class="small-12">
    <p><h2 id="title" class="title3w">3W</h2></p>
  </div>
</div>
<div class="row">
  <div class="medium-8 bottomspacer titledesc">
    <p id="description"></p>
    <p>Email <a href="mailto:ifrcgoproject@gmail.com">ifrcgoproject@gmail.com</a> for questions or if you want a 3w for your operation.</p>
  </div>
  <div class="medium-4">
    <a id="datadownload" class="large" href="">Download Data</a>
  </div>
</div>
<div class="row">
  <div class="small-12">
    <button id="reset">Reset All</button>
    <a class="buttonlink" href="https://www.youtube.com/watch?v=YyUNtRgjJBo" target="_blank">Help</a>
  </div>
</div>
<div class="row">
  <div class="medium-6">
    Current filter: <span id="mapfilter"></span>
    <div id="wherechart" class="viz_chart">
    </div>
  </div>
  <div class="medium-3">
    <div id="whochart" class="viz_chart">Current filter: <span class='filter' style='display: none;'></span> </div>
  </div>
  <div class="medium-3">
    <div id="whatchart" class="viz_chart">Current filter: <span class='filter' style='display: none;'></span> </div>
  </div>
</div>
</div>
<div id="loadingmodal" class="modal fade text-center" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h1>Loading</h1>
      </div>
    </div>
  </div>
</div>
<!-- got to figure out a smart way to bring over simon scripts -->

{% if page.custom_js %}
  {% for js_file in page.custom_js %}
  <script src='{{site.baseurl}}/assets/custom/{{ js_file }}.js' type="text/javascript"></script>
  {% endfor %}
{% endif %}
