<div class="row">
  <div class="medium-12"><a href="{{ site.baseurl }}">Home</a> > <b>{{page.crisis_name }}</b></div>
</div>

<div class="row">
    <div class="medium-6 column">
        <h3>Overview</h3>
        <div class="row">
            <div class="medium-6 column">
                <div class="row">
                    <div id="beneficiaries" class="medium-12 column">
                        <h4 class="keyfiguretitle">Targeted Beneficiaries</h4>
                    </div>
                    <div id="funding" class="medium-12 column">
                        <h4 class="keyfiguretitle">Funding</h4>
                    </div>
                    <div id="appeal_amount" class="medium-12 column">
                        <h4 class="keyfiguretitle">Appeal Amount</h4>
                    </div>
                </div>
            </div>
            <div id="coverage" class="medium-6 column">
                <h4 class="keyfiguretitle">Coverage</h4>
            </div>
        </div>
    </div>
    <div id="map" class="medium-6 column">
    </div>
</div>
<div id="keyfigures" class="row">
</div>
<div id="freetext" class="row">
</div>
<div id="contacts" class="row">
</div>
<div class="row">
    <div class="medium-12">
        <h3>Latest Appeal Documents</h3>
    </div>
</div>
<div id="latestdocs" class="row">
</div>
<div id="links" class="row">
</div>
</div>
