<div id="site-canvas">
  <div class="header-image header-appeals">
    <div class="dark-overlay center-text">
      <h1 class="title feature-header">{{page.crisis_name}}</h1>
      <h1 class="title feature-header">{{page.meta_id}}</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="medium-12"><a href="/">Home</a> > <a href="../index.html">Appeal Pages</a> > <b class="appeal_name">{{page.meta_id}}</b></div>
</div>
<div class="row">
  <div class="medium-6">
    <h3>Overview</h3>
    <div class="row">
      <div class="medium-6">
        <div class="row">
          <div id="beneficiaries" class="medium-12">
            <h4 class="keyfiguretitle">Targeted Beneficiaries</h4>
            {{page.targeted}}
          </div>
          <div id="funding" class="medium-12">
            <h4 class="keyfiguretitle">Funding</h4>
            {{page.meta_funding}}
          </div>
          <div id="appeal_amount" class="medium-12">
            <h4 class="keyfiguretitle">Appeal Amount</h4>
            {{page.meta_value}}
          </div>
        </div>
      </div>
      <div id="coverage" class="medium-6">
        <h4 class="keyfiguretitle">Coverage</h4>
        <!--Simon Fix this -->
      </div>
    </div>
  </div>
  <div id="map" class="medium-6">
  </div>
</div>
<div id="keyfigures" class="row">
</div>
<div id="freetext" class="row">
</div>
<div id="contacts" class="row">
</div>
<div class="row">
  <div class="medium-12">
    <h3>Latest Appeal Documents</h3>
  </div>
</div>
<div id="latestdocs" class="row">
</div>
<div id="links" class="row">
</div>

{{page.date_start}}
{{page.date_end}}
{{page.crisis_name}}
{{page.country_name}}
{{page.status}}
{{page.severity}}


{{page.country_code}}
{{page.crisis_type}}
{{page.meta_coverage}}

{{page.country_code}}
{{page.meta_appealplus}}
{{page.meta_keyfigures}}
{{page.meta_contacts}}
{{page.meta_links}}
{{page.meta_freetext}}
