<div class="row">
  <h1 class="medium-12 column">{{page.crisis_name }}</h1>
</div>

<div class="row">
  <div class="medium-6 column">
    <h3>Overview</h3>
    <div class="row">
      <div class="medium-6 column">
        <div class="row">
          <div id="beneficiaries" class="medium-12 column">
            <h4 class="keyfiguretitle">{{site.data[locale].appeals.targetedben}}</h4>
          </div>
          <div id="funding" class="medium-12 column">
            <h4 class="keyfiguretitle">{{site.data[locale].appeals.funding}}</h4>
          </div>
          <div id="appeal_amount" class="medium-12 column">
            <h4 class="keyfiguretitle">{{site.data[locale].appeals.appealamount}}</h4>
          </div>
        </div>
      </div>
      <div id="coverage" class="medium-6 column">
        <div class="row">
          <div class="medium-12 column">
            <h4 class="keyfiguretitle">{{site.data[locale].appeals.coverage}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="map" class="medium-6 column"></div>
</div>

<div id="keyfigures" class="row"></div>
<div id="freetext" class="row"></div>
<div id="infographics" class="row"></div>
<div id="contacts" class="row"></div>
<div id="latestdocs" class="row"></div>
<div id="links" class="row"></div>
<div id="fieldreports" class="row"></div>
