<!-- scripts for Simons stuff  -->
<!-- <script src="{{ site.baseurl }}/assets/scripts/vendor/crossfilter.v1.min.js"></script>
<script src="{{ site.baseurl }}/assets/scripts/vendor/dc.js"></script>
<script src="{{ site.baseurl }}/assets/scripts/vendor/leaflet.js"></script>
<script src="{{ site.baseurl }}/assets/scripts/vendor/dc.leaflet.js"></script>
<script src="{{ site.baseurl }}/assets/scripts/vendor/d3.tip.min.js"></script>
<script src="{{ site.baseurl }}/assets/scripts/vendor/intro.js"></script>
<script src="{{ site.baseurl }}/assets/scripts/vendor/topojson.v1.min.js"></script>
<script src="{{ site.baseurl }}/assets/scripts/vendor/papaparse.min.js"></script> -->
