<footer>
<div class="callout-footer">
 <div class="row small-up-2 large-up-5">
 <div class="column">
   <a href="#" class="button expanded"><i class="fa fa-twitter fa-fw"></i> TWITTER </a>
 </div>
 <div class="column">
   <a href="#" class="button expanded"><i class="fa fa-envelope fa-fw"></i> EMAIL </a>
 </div>
 <div class="column">
   <a href="#" class="button expanded"><i class="fa fa-github fa-fw"></i> GITHUB </a>
 </div>
 <div class="column">
   <a href="#" class="button expanded"><i class="fa fa-sitemap fa-fw"></i> WEBSITE </a>
 </div>
 <div class="column">
   <a href="#" class="button expanded"><i class="fa fa-facebook fa-fw"></i> FACEBOOK </a>
 </div>
 </div>
 <h6>The International Federation of Red Cross and Red Crescent Societies (IFRC) is the world's largest humanitarian organization, with 190 member National Societies. As part of the International Red Cross and Red Crescent Movement, our work is guided by seven fundamental principles; humanity, impartiality, neutrality, independence, voluntary service, unity and universality.</h6>
 </div>
 </footer>
