<footer>
  <div class="row expanded">

    <div class="medium-6 columns">
      <ul class="menu">
        <li><a href="#">Legal</a></li>
        <li><a href="#">Partner</a></li>
        <li><a href="#">Explore</a></li>
      </ul>
    </div>

    <div class="medium-6 columns">
      <ul class="menu align-right">
        <li class="menu-text">CC-BY IFRC 2016</li>
      </ul>
    </div>
  </div>

</footer>

<!-- scripts for the site -->
<script src="{{ site.baseurl }}/assets/scripts/jquery-3.1.1.min.js"></script>
<script src="{{ site.baseurl }}/assets/scripts/vendor/d3.min.js"></script>
<script src="{{ site.baseurl }}/assets/scripts/vendor/crossfilter.v1.min.js"></script>
<script src="{{ site.baseurl }}/assets/scripts/vendor/dc.js"></script>
<script src="{{ site.baseurl }}/assets/scripts/vendor/leaflet.js"></script>
<script src="{{ site.baseurl }}/assets/scripts/vendor/dc.leaflet.js"></script>
<script src="{{ site.baseurl }}/assets/scripts/vendor/d3.tip.min.js"></script>
<script src="{{ site.baseurl }}/assets/scripts/vendor/intro.js"></script>
<script src="{{ site.baseurl }}/assets/scripts/vendor/topojson.v1.min.js"></script>
<script src="{{ site.baseurl }}/assets/scripts/vendor/papaparse.min.js"></script>
<script src="{{ site.baseurl }}/assets/scripts/vendor/bootstrap.min.js"></script>
