<div class="row small-12 medium-up-2">
  <h3 class="text-center">The Disaster Management Information System (DMIS) will be decomissioned soon. You can still find content on DMIS but please note that it is not being updated and maintained. The great news is that DMIS has been replaced by GO where you can submit Field Reports and find out about ongoing operations.</h3>
  <div class="column">
    <div class="card">
      <a href="https://go.ifrc.org">
      <div class="card-section text-center">
        <img class="card-icon rcicon" src="{{ site.baseurl }}/assets/logos/go_sticker.jpg">
      </div>
      </a>
      <div class="card-section">
        <a href="https://go.ifrc.org" class="button ifrcCorporateRed expanded">Go to GO</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <a href="{{ site.baseurl }}/africa">
      <div class="card-section text-center">
        <img class="card-icon rcicon" src="{{ site.baseurl }}/assets/icons/africa_map.png">
      </div>
      </a>
      <div class="card-section">
        <a href="{{ site.baseurl }}/africa" class="button ifrcCorporateRed expanded">Afric Region Page</a>
      </div>
    </div>
  </div>
</div>
