<div class="row small-12 medium-up-2">
  <h3 class="text-center">You have reached IFRC GO Labs. All information on emergency operations and responses is only updated on <a href="https://go.ifrc.org">https://go.ifrc.org</a> You can still reach the Africa thematic regional pages <a href="http://ifrcgo.org/africa">here</a>.</h3>
  <div class="column">
    <div class="card">
      <a href="https://go.ifrc.org">
      <div class="card-section text-center">
        <img class="card-icon rcicon" src="{{ site.baseurl }}/assets/logos/go_sticker.jpg">
      </div>
      </a>
      <div class="card-section">
        <a href="https://go.ifrc.org" class="button ifrcCorporateRed expanded">Go to GO</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <a href="{{ site.baseurl }}/africa">
      <div class="card-section text-center">
        <img class="card-icon rcicon" src="{{ site.baseurl }}/assets/icons/africa_map.png">
      </div>
      </a>
      <div class="card-section">
        <a href="{{ site.baseurl }}/africa" class="button ifrcCorporateRed expanded">Africa Region Thematic Page</a>
      </div>
    </div>
  </div>
</div>
