<!-- Start Top Bar -->
<div class="top-bar medium-10">
  <div class="top-bar-left">
      <img class="logo" src="{{ site.baseurl }}/assets/logos/logo_test_Go.png">
  </div>
  <div class="top-bar-right">
    <ul class="menu vertical medium-horizontal expanded" data-responsive-menu="drilldown medium-dropdown">
      <li><a href="{{site.baseurl}}" class="hvr-underline-reveal">Home</a></li>
      <li><a href="#coredatasets" class="hvr-underline-reveal">Core Datasets</a></li>
      <li><a href="#regions" class="hvr-underline-reveal">IFRC Regions</a></li>
      <li><a href="http://www.ifrc.org/" class="hvr-underline-reveal">IFRC.org</a></li>
      <li><a href="https://fednet.ifrc.org/CookieAuth.dll?GetLogon?curl=Z2F&reason=0&formdir=2" class="hvr-underline-reveal">FedNet</a></li>
      <li><a href="https://www-secure.ifrc.org/DMISII/Pages/00_Home/login.aspx" class="hvr-underline-reveal">DMIS</a></li>
    </ul>
  </div>
</div>
<!-- End Top Bar -->
