<!-- Start Top Bar -->
<div class="top-bar" id="particles-js">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text"><img class="logo" src="{{ site.baseurl }}/assets/graphics/ifrc_logo.png"></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="{{ site.baseurl }}/3w/">3W</a></li>
      <li><a href="{{ site.baseurl }}/appeals">Appeals</a></li>
      <li><a href="{{ site.baseurl }}/eru">ERU Readiness</a></li>
      <!-- <li><a href="{{ site.baseurl }}/eru">Six</a></li> -->
    </ul>
  </div>
</div>
<!-- End Top Bar -->

<div class="header-image large">
  <div class="landing-pic row column text-center">
    <h1 class="title feature-header">{{ page.title }}</h1>
    <h6 class="title tagline">{{ page.tagline }}</h6>
  </div>
</div>
