<!-- Start Top Bar -->
<div class="top-bar medium-10">
<div class="top-bar-left">
    <a href="{{site.baseurl}}"><img class="logo" src="{{ site.baseurl }}/assets/logos/logo_test_Go.png"></a>
</div>
<div class="top-bar-right">

    <ul class="menu vertical medium-horizontal expanded" data-responsive-menu="drilldown medium-dropdown">
      {% for nav in site.data.en.nav %}
      {% if nav.url %}
      <li><a href="{{nav.url}}" class="hvr-underline-reveal">{{nav.text}}</a></li>
      {% else if nav.links %}
      {% endif %}
      {% endfor %}
      {% for nav in site.data.en.navext %}
      {% if nav.url %}
      <li class="external"><a href="{{nav.url}}" class="hvr-underline-reveal">{{nav.text}}</a></li>
      {% else if nav.links %}
      {% endif %}
      {% endfor %}
    </ul>
</div>
</div>
<!-- End Top Bar -->
