<!-- TODO fix later -->
<!-- <div class="row column alerts">
<p class="marquee"><span id="feed"></span></p>
</div> -->

<div class="callout secondary text-center">
  <p>{{site.data[locale].landing.quote}}</p>
</div>

<div class="row small-12 medium-up-3">
<a name="coredatasets"><h1 class="text-center">{{site.data[locale].landing.globaloverview.name}}</h1></a>

<div class="row small-up-2 medium-up-5 bigstats">
  <div class="column">
    <div class="card no-border text-center">
      <span id="totaldref" class="stat clearfix"></span>
      <span>{{site.data[locale].landing.stats.dref}}</span>
    </div>
  </div>
  <div class="column">
    <div class="card no-border text-center">
      <span id="totalea" class="stat clearfix"></span>
      <span>{{site.data[locale].landing.stats.emgappeal}}</span>
    </div>
  </div>

  <div class="column">
    <div class="card no-border text-center">
      <span id="totalcoverage" class="stat clearfix"></span>
      <span>{{site.data[locale].landing.stats.emgfunding}}</span>
    </div>
  </div>
  <div class="column">
    <div class="card no-border text-center">
      <span id="totalappeals" class="stat clearfix"></span>
      <span>{{site.data[locale].landing.stats.budget}}</span>
    </div>
  </div>
  <div class="column">
    <div class="card no-border text-center">
      <span id="totalbens" class="stat clearfix"></span>
      <span>{{site.data[locale].landing.stats.population}}</span>
    </div>
  </div>
</div>

<div class="row small-up-1 medium-up-3">
  <div class="column">
    <div class="card" style="border:none">
      <a target="_blank" href="{{ site.baseurl }}/ongoingops">
        <div class="card-section text-center">
          <img class="card-icon rcicon" src="{{ site.baseurl }}/assets/icons/ongoingops.png">
        </div>
      </a>
      <div class="card-section">
        <a href="{{ site.baseurl }}/ongoingops" target="_blank" class="button ifrcCorporateRed expanded">{{site.data[locale].landing.globaloverview.ongoingops}}</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card" style="border:none">
      <a href="{{ site.baseurl }}/currentappeals">
        <div class="card-section text-center">
          <img class="card-icon rcicon" src="{{ site.baseurl }}/assets/icons/ongoingops.png">
        </div>
      </a>
      <div class="card-section">
        <a href="{{ site.baseurl }}/currentappeals" class="button ifrcCorporateRed expanded">{{site.data[locale].landing.globaloverview.ongoingopslist}}</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card" style="border:none">
      <a href="{{ site.baseurl }}/appeals">
        <div class="card-section text-center">
          <img class="card-icon rcicon" src="{{ site.baseurl }}/assets/icons/listofopspages.png">
        </div>
      </a>
      <div class="card-section">
        <a href="{{ site.baseurl }}/appeals" class="button ifrcCorporateRed expanded">{{site.data[locale].landing.globaloverview.appeals}}</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card" style="border:none">
      <a href="{{ site.baseurl }}/historiceru">
        <div class="card-section text-center">
          <img class="card-icon rcicon" src="{{ site.baseurl }}/assets/icons/deployment.png">
        </div>
      </a>
      <div class="card-section">
        <a href="{{ site.baseurl }}/historiceru" class="button ifrcCorporateRed expanded">{{site.data[locale].landing.globaloverview.historiceru}}</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card" style="border:none">
      <a href="https://s.ifrcgo.org/eru_readiness/">
        <div class="card-section text-center">
          <img class="card-icon rcicon" src="{{ site.baseurl }}/assets/icons/deployment.png">
        </div>
      </a>
      <div class="card-section">
        <a href="https://s.ifrcgo.org/eru_readiness/" class="button ifrcCorporateRed expanded">{{site.data[locale].landing.globaloverview.erureadiness}}</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card" style="border:none">
      <a href="{{ site.baseurl }}/global3w">
        <div class="card-section text-center">
          <img class="card-icon rcicon" src="{{ site.baseurl }}/assets/icons/3w.png">
        </div>
      </a>
      <div class="card-section">
        <a href="{{ site.baseurl }}/global3w" class="button ifrcCorporateRed expanded">{{site.data[locale].landing.globaloverview.3w}}</a>
      </div>
    </div>
  </div>
</div>

<hr/>

<div class="row small-12 medium-up-3 large-up-5">
  <a name="regions"><h1 class="text-center">Regional Go Pages</h1></a>

  <div class="column">
    <div class="card iconmap">
      <div class="card-section text-center">
        <a href="http://ifrcgo.org/africa/" target="_blank" class="icons-regions">
          <img class="thumbnail-icons" src="{{ site.baseurl }}/assets/icon maps/icons/icon map africa.png">
        </a>
      </div>
      <div class="card-section">
        <a href="http://ifrcgo.org/africa/" target="_blank" class="icons-regions">
          <h2 class="text-center">Africa</h2>
        </a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card iconmap">
      <div class="card-section text-center">
        <a href="https://www.goamericas.cruzroja.org/english" target="_blank" class="icons-regions">
          <img class="thumbnail-icons" src="{{ site.baseurl }}/assets/icon maps/icons/icon map americas.png">
        </a>
      </div>
      <div class="card-section">
        <a href="https://www.goamericas.cruzroja.org/english" target="_blank" class="icons-regions">
          <h2 class="text-center">Americas</h2>
        </a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card iconmap">
      <div class="card-section text-center">
        <a href="https://ifrc-asia-pacific.github.io/dashboard" target="_blank" class="icons-regions">
          <img class="thumbnail-icons" src="{{ site.baseurl }}/assets/icon maps/icons/icon map asia_pac.png">
        </a>
      </div>
      <div class="card-section">
        <a href="https://ifrc-asia-pacific.github.io/dashboard" target="_blank" class="icons-regions">
          <h2 class="text-center">Asia Pacific</h2>
        </a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card iconmap">
      <div class="card-section text-center">
        <a href="http://ifrcgo.org/europe/" target="_blank" class="icons-regions">
          <img class="thumbnail-icons" src="{{ site.baseurl }}/assets/icon maps/icons/icon map europe.png">
        </a>
      </div>
      <div class="card-section">
        <a href="http://ifrcgo.org/europe/" target="_blank" class="icons-regions">
          <h2 class="text-center">Europe</h2>
        </a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card iconmap">
      <div class="card-section text-center">
        <a href="http://ifrcgo.org/mena/" target="_blank" class="icons-regions">
          <img class="thumbnail-icons" src="{{ site.baseurl }}/assets/icon maps/icons/icon map mena.png">
        </a>
      </div>
      <div class="card-section">
        <a href="http://ifrcgo.org/mena/" target="_blank" class="icons-regions">
          <h2 class="text-center">MENA</h2>
        </a>
      </div>
    </div>
  </div>
</div>

<hr/>

<div class="row">
  <!--<div class="medium-12 columns">
    <h1>{{site.data[locale].landing.currentops}}</h1>
    <div id="map" class="leaflet-container"></div>
  </div> -->
  <div id="updates" class="medium-12 columns">
    <h1>{{site.data[locale].landing.fieldreports}}</h1>
    <table id="fieldreports"></table>
  </div>
</div>

<div class="row">
  <div class="medium-12 columns">
    <h1>{{site.data[locale].landing.alerts}}</h1>
    <table id="latestAlerts"></table>
  </div>
</div>

<div class="row small-12 medium-up-4">
  <a name="labs"><h1 class="text-center">{{site.data[locale].landing.golabs.name}}</h1></a>
  <div class="column">
    <div class="card">
      <a href="https://s.ifrcgo.org/fieldreports">
        <div class="card-section text-center">
          <span class="icon icon-file-image card-icon"></span>
        </div>
        <div class="card-section">
          <span class="button ifrcGray expanded">{{site.data[locale].landing.golabs.fieldreports}}</span>
        </div>
      </a>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <a href="https://s.ifrcgo.org/heops/">
        <div class="card-section text-center">
          <span class="icon icon-user-1 card-icon"></span>
        </div>
        <div class="card-section">
          <span class="button ifrcGray expanded">{{site.data[locale].landing.golabs.heops}}</span>
        </div>
      </a>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <a href="{{site.baseurl}}/histappeals">
        <div class="card-section text-center">
          <span class="icon icon-chart-area card-icon"></span>
        </div>
        <div class="card-section">
          <span class="button ifrcGray expanded">{{site.data[locale].landing.golabs.histappeals}}</span>
        </div>
      </a>
    </div>
  </div>
  <!-- <div class="column">
    <div class="card">
      <a href="{{site.baseurl}}/summary">
        <div class="card-section text-center">
          <span class="icon icon-chart-bar card-icon"></span>
        </div>
        <div class="card-section">
          <span class="button ifrcGray expanded">{{site.data[locale].landing.golabs.summary}}</span>
        </div>
      </a>
    </div>
  </div> -->
  <div class="column">
    <div class="card">
      <a href="{{site.baseurl}}/datalibrary">
        <div class="card-section text-center">
          <span class="icon icon-chart-bar card-icon"></span>
        </div>
        <div class="card-section">
          <span class="button ifrcGray expanded">{{site.data[locale].landing.golabs.datalibrary}}</span>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="row small-12 medium-up-3">
  <div class="column">
    <div class="card">
      <div class="card-section text-center">
        <a href="http://rcrcsims.org/" target="_blank" class="icons-regions">
          <h1>{{site.data[locale].landing.sims}}</h1>
        </a>
      </div>
      <div class="card-section">
        <div class="columns">
          <p>{{site.data[locale].landing.simsdesc}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-section text-center">
        <a href="http://data.ifrc.org/" target="_blank" class="icons-regions">
          <h1>{{site.data[locale].landing.datainit}}</h1>
        </a>
      </div>
      <div class="card-section">
        <div class="columns">
          <p>{{site.data[locale].landing.datainitdesc}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-section text-center">
        <a href="https://github.com/IFRCGo" target="_blank" class="icons-regions">
          <h1>{{site.data[locale].landing.githubtitle}}</h1>
        </a>
      </div>
      <div class="card-section">
        <div class="columns">
          <p>{{site.data[locale].landing.githubdesc}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
