<div class="row">
  <div class="column medium-12">  
      <p><h2 id="title">Summary of Emergency Operations</h2></p>
    </div>
  </div>            
  <div class="row">
    <div class="column medium-12 bottomspacer titledesc">  
      <p>An yearly analysis and overview of DREFs and Appeals</p>
    </div>
  </div>
  <div class="row">
    <div class="column medium-12 bottomspacer bottomborder titledesc">  
      <h2>Key Figures for 2017</h2>
    </div>
  </div>                  
  <div id="headlines" class="row bottomspacer">
    <div class="column small-3">
      <p class="keyfiguretitle">Total Budget (CHF)</p><span id="funding2017" class="keyfigure"></span>
    </div>                
    <div class="column small-3">
      <p class="keyfiguretitle">Total Number of Operations</p><span id="operations2017" class="keyfigure"></span>
    </div>
    <div class="column small-3">
      <p class="keyfiguretitle">Number of DREF Operations</p><span id="drefs2017" class="keyfigure"></span>
    </div>
    <div class="column small-3">
      <p class="keyfiguretitle">Number of Emergency Appeals</p><span id="appeals2017" class="keyfigure"></span>
    </div>
  </div>
  <div class="row">
    <div class="column medium-12 bottomspacer bottomborder titledesc">  
      <h2>Key Figures for 2016</h2>
    </div>
  </div>                  
  <div id="headlines" class="row bottomspacer">
    <div class="column small-3">
      <p class="keyfiguretitle">Total Budget (CHF)</p><span id="funding2016" class="keyfigure"></span>
    </div>                
    <div class="column small-3">
      <p class="keyfiguretitle">Total Number of Operations</p><span id="operations2016" class="keyfigure"></span>
    </div>
    <div class="column small-3">
      <p class="keyfiguretitle">Number of DREF Operations</p><span id="drefs2016" class="keyfigure"></span>
    </div>
    <div class="column small-3">
      <p class="keyfiguretitle">Number of Emergency Appeals</p><span id="appeals2016" class="keyfigure"></span>
    </div>
  </div>
  <div class="row">
    <div class="column medium-12 bottomspacer bottomborder titledesc">  
      <h2>Key Figures for 2015</h2>
    </div>
  </div>                  
  <div id="headlines" class="row bottomspacer">
    <div class="column small-3">
      <p class="keyfiguretitle">Total Budget (CHF)</p><span id="funding2015" class="keyfigure"></span>
    </div>                
    <div class="column small-3">
      <p class="keyfiguretitle">Total Number of Operations</p><span id="operations2015" class="keyfigure"></span>
    </div>
    <div class="column small-3">
      <p class="keyfiguretitle">Number of DREF Operations</p><span id="drefs2015" class="keyfigure"></span>
    </div>
    <div class="column small-3">
      <p class="keyfiguretitle">Number of Emergency Appeals</p><span id="appeals2015" class="keyfigure"></span>
    </div>
  </div>                                
  <div class="row">
    <div class="column medium-12 bottomspacer bottomborder titledesc">  
      <h2>2015-2017 Overview of DREF Operations</h2>
    </div>
  </div>             
  <div class="row">
    <div class="column medium-8">
      <div class="row">
        <div id="map" class="column medium-8">
          <h4>DREF Operations Launched in 2017</h4>
        </div>
        <div class="column medium-4">
          <h4>2015-2017 DREF Operations by region</h4>
          <div id ="region"></div>
        </div>
      </div>
      <div class="row">
        <div class="column medium-12">
          <h4>2015-2017 DREF Operations by month</h4>
          <div id="months" ></div>
        </div>
      </div>
    </div>
    <div class="column medium-4">
      <h4>2015-2017 DREF Operations by type</h4>
      <div id="type"></div>
    </div>
  </div>             
  <div class="row">
    <div class="column medium-12 bottomspacer bottomborder titledesc">  
      <h2>2015-2017 Overview of Emergency Appeals</h2>
    </div>
  </div>             
  <div class="row">
    <div class="column medium-8">
      <div class="row">
        <div id="mapappeals" class="column medium-8">
          <h4>Emergency Appeals Launched in 2017</h4>
        </div>
        <div class="column medium-4">
          <h4>2015-2017 Emergency Appeals by region</h4>
          <div id ="regionappeals"></div>
        </div>
      </div>
      <div class="row">
        <div class="column medium-12">
          <h4>2015-2017 Emergency Appeals by month</h4>
          <div id="monthsappeals" ></div>
        </div>
      </div>
    </div>
    <div class="column medium-4">
      <h4>2015-2017 Emergency Appeals by type</h4>
      <div id="typeappeals"></div>
    </div>
  </div>
  <div class="row">
    <div class="column medium-12 bottomspacer bottomborder titledesc"> 
      <h2>List of DREF Operations approved in 2017</h2>
    </div>
  </div>
  <div class="row">
    <div class="column medium-12">  
      <table id="dreftable" class="table"><tr><th>Name</th><th>Country</th><th>Date Start</th><th>Disaster Type</th><th>Amount (CHF)</th></tr></table>
    </div>
  </div>
  <div class="row">
    <div class="column medium-12 bottomspacer bottomborder titledesc">  
      <h2>List of Emergency Appeals approved in 2017</h2>
    </div>
  </div>
  <div class="row">
    <div class="column medium-12">  
      <table id="appealtable" class="table"><tr><th>Name</th><th>Country</th><th>Date Start</th><th>Disaster Type</th><th>Amount (CHF)</th></tr></table>
    </div>
  </div>
</div>