.dc-table-label{
    color:#fff;
}

.dc-chart g.row text {
    fill: black;
    font-size:0.8em;
}

#wherechart {
    height:600px;
    width:100%;
}

.hdx-3w-info{
    padding:5px;
    background-color:white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size:1.5em;
    color:#D32F2F;
 }

 .viz_chart {
    width:100%;
}

.buttonlink {
    border-width: 1px;
    border-style:solid;
    border-color:#D33F49;
    border-radius: 10px;
    font-size:1.2em;
    background-color:#fff;
    padding: 10px;
    margin-right:10px;
    color:#D33F49;
    outline:0;
    margin-bottom:10px;
    font-family: 'Open Sans', sans-serif;
}