#map {
    height:360px;
}

.btn-sm {
    background-color:#D32F2F;
    border-width:0px;
    margin-bottom:10px;
}

.keyfigure {
    font-size:32px;
    margin-bottom:20px;
}

.doc {
    margin-bottom:20px;
}

h3 {
    padding-bottom:10px;
    border-bottom: 1px solid #aaa;
}